* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;

    img {
        height: 36px;
        margin: 16px 25px;
    }

    ul {
        display: flex;
        align-items: center;
        gap: 20px;
        margin: 0;
    }

    li {
        cursor: pointer;
        list-style: none;
        color: #262626;
    }
}

.carousel-content {
    position: absolute;
    top: 80px;
    width: 30px;
    margin-left: 5%;

    h2 {
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 10px;
    }

    p {
        font-size: 1.3rem;
        color: #ffffff;
        margin-bottom: 20px;
    }

    button {
        background-color: #0078d4;
        color: #ffffff;
        border: none;
        padding: 10px 12px;
        font-weight: 500;
        border: none;
    }

    a {
        font-size: 1.2rem;
        margin-left: 10px;
        font-weight: 600;
    }
}

.slide {

    .carousel-control-prev,
    .carousel-control-next {
        top: 300px;
    }
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
    margin: 80px 0;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        img {
            height: 40px;
        }

        a {
            color: #0078d4;
            font-weight: 500;
            font-size: 1rem;
        }
    }
}

.container-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .whapper-cards {
        display: flex;
        gap: 20px;
        max-width: 1500px;
        justify-content: space-between;


        card {
            flex-grow: 1;
            border-radius: 0;
            border: none;
            box-sizing: rgba(0, 0, 0, 0.24) 0px 3px 8px;

            card-body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .card-text {
                    margin-bottom: 10px;
                }
            }
        }
    }

}

.btn btn primary {
    background-color: #0078d4;
    border: none;
    border-radius: 0;
}

.banner {
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
    width: 100%;

    img {
        width: 100%;
        max-width: 1500px;
    }

    card {
        position: absolute;
        left: 13%;
        border-radius: 0;
        border: none;
        padding: 30px;

        h5 {
            font-size: 1.5rem;
            margin-bottom: 16px;
        }
    }
}

.tittle-business {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 5%;
    margin-bottom: 20px;

    div {
        width: 100%;
        max-width: 1500px;

        h3 {
            font-size: 2.4rem;
            font-weight: 600;
        }
    }
}

social-media {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 5%;
    margin-bottom: 20px;

    div {
        width: 100%;
        max-width: 1500px;
    }
}