* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px; 

    img {
        height: 36px;
        margin: 16px 25px;
    }

    ul {
        display: flex;
        align-items: center;
        gap: 20px;
        margin: 0;
    }

    li {
        cursor: pointer;
        list-style: none;
        color: #262626;
    }
}
